.Head {
    background-image: url('../images/rn_head.png');
    height: 75vh;
    width: 75vh;
    background-size: cover;
   
}
.Brain {
    /* clip-path: polygon(46.44% -0.8%, 77.81% 10.08%, 97.15% 37.24%, 97.66% 70.32%, 80% 94.8%, 55.45% 92%, 28.57% 79.44%, 29.35% 69.41%, 23.38% 64.24%, 17.54% 59.72%, 11.07% 60.35%, 2.59% 58.16%, 2.85% 36.28%, 11.55% 20.56%, 20% 10%); */
    /* width: 53vh; */
    /* height: 43vh; */
    position: absolute;
    margin-left: 15vh;
    margin-top: 6vh;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    counter-reset: items;
    height: 41vh;
    width: 55vh;
    transform: skewX(-11deg);
    clip-path: polygon(63.04% 9.27%, 76.9% 19.33%, 87.32% 35.46%, 92.24% 51.51%, 93.72% 62.87%, 93.22% 74.14%, 85.78% 93.53%, 75.19% 104.41%, 45.34% 90.16%, 35.56% 82.46%, 30.34% 69.56%, 21.53% 63.09%, 10.98% 59.17%, 4.94% 56.27%, 1.02% 47.28%, 4.48% 30.57%, 11.81% 14.8%, 26.4% 4.12%, 47.08% 2.29%);
}


.ev-panel {
	/* clip-path: polygon(38.16% 1.56%, 57.23% 4.94%, 71.82% 7.22%, 85.84% 9.25%, 95.44% 11.42%, 92.33% 27.05%, 86.89% 46.06%, 83.21% 60.76%, 63.5% 59.47%, 42.04% 56.07%, 22.15% 51.68%, 3.71% 43.56%, -5px 23.57%, 7.64% 14.08%, 20.77% 2.12%); */
	background-image: url('../images/Everything.png');
	background-size: contain;
	position: relative;
	/* top: 25vh; */
	/* height: 55%;
	width: 55%; */
	/* left: -1.5vh; */
}

.isyimd-panel {
	/* grid-row: 1;
	grid-column: 1 / span 2; */
	/* clip-path: polygon(43.71% 3.55%, 60.89% 5.36%, 78.94% 6.03%, 93.66% 10.84%, 91.16% 24.55%, 82.34% 40.59%, 71.88% 57.1%, 54.94% 74.99%, 38.29% 71.26%, 17.84% 65.67%, 2.41% 55.13%, 5.14% 38.36%, 16px 20.43%, 24.93% 5.25%); */
	background-image: url('../images/ISYIMD.jpg');
	background-size: contain;
	position: relative;
	/* top: 12vh; */
	/* height: 40%;
	width: 40%; */
	/* left: 0.5vh; */
}

.moy-panel {
	/* grid-row: 1;
	grid-column: 2 / span 1; */
	/* clip-path: polygon(69.36% 5.64%, 87.49% 7.75%, 101.38% 10.31%, 95.32% 17.79%, 88.97% 24.29%, 79.51% 30.51%, 67.69% 36.37%, 53.4% 41.64%, 39.52% 36.58%, 12.73% 32.69%, 24.41% 25.54%, 43px 19.56%, 45.1% 12.12%, 52.71% 3.31%); */
	background-image: url('../images/moy.jpg');
	background-size: contain;
	position: relative;
	/* top: 13vh; */
	/* height: 90%;
	width: 90%; */
	/* left: -11vh; */
}

.bright-panel {
	/* grid-row: 1;
	grid-column: 2 / span 2; */
	/* clip-path: polygon(54.27% 24.23%, 76.08% 29.62%, 91.18% 33.65%, 89.96% 44.81%, 89.49% 55.7%, 87.85% 67.46%, 71.36% 63.63%, 47.36% 59.17%, 22.95% 55.02%, 0.12% 54.87%, 8.79% 41.94%, 14.57% 28.40%, 19.89% 15.13%, 36.84% 19.8%); */
	background-image: url('../images/bright.jpg');
	background-size: contain;
	position: relative;
	/* top: 14vh; */
	/* height: 45%;
	width: 45%; */
	/* left: 3vh; */
}
  
  /* Re-order items into 4 rows */
  /* .item:nth-of-type(4n+1) { order: 1; }
  .item:nth-of-type(4n+2) { order: 2; }
  .item:nth-of-type(4n+3) { order: 3; }
  .item:nth-of-type(4n)   { order: 4; } */

  /* Force new columns */
.break {
    flex-basis: 100%;
    width: 0;
    border: 1px solid #ddd;
    margin: 0;
    content: "";
    padding: 0;
  }
  
  /* Force new columns */
  .Brain::before,
  .Brain::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
