.Head {
    background-image: url('../images/rn_head.png');
    height: 75vh;
    width: 75vh;
    background-size: cover;
   
}
.Brain {
    -webkit-clip-path: ellipse(50% 50% at 50% 50%);
    clip-path: ellipse(50% 50% at 50% 50%);
    /* transform: rotate(21deg); */
    width: 53vh;
    height: 43vh;
    position: absolute;
    margin-left: 15vh;
    margin-top: 6vh;
    display: grid;
	/* grid-template-rows: 0.35fr 0.35fr 0.3fr; */
}
[class^="ev-panel-"] {
	/* background-color: #000; */
    transition: clip-path 1s;
}

[class^="isyimd-panel-"] {
	/* background-color: #000; */
    transition: clip-path 1s;
}

[class^="moy-panel-"] {
	/* background-color: #000; */
    transition: clip-path 1s;
}

[class^="bright-panel-"] {
	/* background-color: #000; */
    transition: clip-path 1s;
}
/* [class^="panel-"] img {
    	width: 50%;
		height: 50%;
		object-fit: cover;
        transition: clip-path 1s;
} */
.panelgroup-1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row: 1 / span 2;
	grid-column: 1;
}
.ev-panel {
	grid-row: 1;
	grid-column: 2 / span 2;
	clip-path: polygon(38.16% 1.56%, 57.23% 4.94%, 71.82% 7.22%, 85.84% 9.25%, 95.44% 11.42%, 92.33% 27.05%, 86.89% 46.06%, 83.21% 60.76%, 63.5% 59.47%, 42.04% 56.07%, 22.15% 51.68%, 3.71% 43.56%, -5px 23.57%, 7.64% 14.08%, 20.77% 2.12%);
	background-image: url('../images/Everything.png');
	background-size: contain;
	position: relative;
	top: 25vh;
	height: 55%;
	width: 55%;
	left: -1.5vh;
}

.isyimd-panel {
	grid-row: 1;
	grid-column: 1 / span 2;
	clip-path: polygon(43.71% 3.55%, 60.89% 5.36%, 78.94% 6.03%, 93.66% 10.84%, 91.16% 24.55%, 82.34% 40.59%, 71.88% 57.1%, 54.94% 74.99%, 38.29% 71.26%, 17.84% 65.67%, 2.41% 55.13%, 5.14% 38.36%, 16px 20.43%, 24.93% 5.25%);
	background-image: url('../images/ISYIMD.jpg');
	background-size: contain;
	position: relative;
	top: 12vh;
	height: 40%;
	width: 40%;
	left: 0.5vh;
}

.moy-panel {
	grid-row: 1;
	grid-column: 2 / span 1;
	clip-path: polygon(69.36% 5.64%, 87.49% 7.75%, 101.38% 10.31%, 95.32% 17.79%, 88.97% 24.29%, 79.51% 30.51%, 67.69% 36.37%, 53.4% 41.64%, 39.52% 36.58%, 12.73% 32.69%, 24.41% 25.54%, 43px 19.56%, 45.1% 12.12%, 52.71% 3.31%);
	background-image: url('../images/moy.jpg');
	background-size: contain;
	position: relative;
	top: 13vh;
	height: 90%;
	width: 90%;
	left: -11vh;
}

.bright-panel {
	grid-row: 1;
	grid-column: 2 / span 2;
	clip-path: polygon(63.8% 23.58%, 84.81% 28.97%, 102.29% 33%, 99.49% 42.86%, 97.43% 56.35%, 95.79% 70.08%, 74.53% 65.59%, 48.15% 61.13%, 21.36% 56.98%, -1.47% 56.17%, 7.2% 41.94%, 12.2% 29.05%, 17.51% 11.87%, 41.6% 17.18%);
	background-image: url('../images/bright.jpg');
	background-size: contain;
	position: relative;
	top: 15vh;
	height: 40%;
	width: 40%;
	left: 3.5vh;
}
.ev-panel img {
    /* clip-path: polygon(0 0, 48% 0, 57% 100%, 0 100%); */
}
.panel-2 {
	grid-row: 1;
	grid-column: 2 / span 2;
	clip-path: polygon(0 0, 50% 0, 58% 100%, 10% 100%);
	z-index: 1;
}
.panel-2 img {
    clip-path: polygon(0 0, 48.5% 0, 56% 100%, 10% 100%);
}
.panel-3 {
	grid-row: 1;
	grid-column: 3;
}
.panel-3 img {
    clip-path: polygon(0 0, 136% 0, 66% 100%, 0 100%);
}

.panel-4 {
	grid-row: 1;
	grid-column: 3 / 5;
	clip-path: polygon(83px -83px, 400px 38px, 200px 493px, 66px 347px);
	
	
}
.panel-4 img {
    clip-path: polygon(101px 0px, 192px 0px, 262px 235px, -230px 120px);
}

.panel-5 {
	grid-row: 1;
	grid-column: 4 / -1;
	clip-path: polygon(48% 0, 100% 0, 100% 100%, 25% 100%);
}

.panel-6 {
	grid-row: 1;
	grid-column: 5;
	clip-path: polygon(100% 37%, 100% 100%, 16% 100%);
}
.panelgroup-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 1.4fr 0.8fr 1fr 1.7fr;
	grid-template-rows: 2.5fr repeat(2, 1fr) 1.6fr;
	grid-row: 2 / span 2;
	grid-column: 1;
	z-index: 3;
}
panelgroup-2:hover {
    display: block;
}

.panel-7 {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	clip-path: ellipse(360px 370px at 340px 372px);
}
.panel-7 img {
    clip-path: ellipse(354px 364px at 340px 372px);
}

.panel-8 {
	grid-row: 1 / -1;
	grid-column: 2 / -1;
	clip-path: ellipse(271px 279px at 273px 410px);
}
.panel-8 img {
    clip-path: ellipse(267px 275px at 273px 410px);
}

.panel-9 {
	grid-row: 2 / -1;
	grid-column: 3 / -1;
	clip-path: ellipse(250px 213px at 251px 215px);
}
.panel-9 img {
    clip-path: ellipse(246px 209px at 251px 215px);
}

.panel-10 {
	grid-row: 3 / -1;
	grid-column: 4 / -1;
	clip-path: ellipse(176px 159px at 177px 161px);
}
.panel-10 img {
    clip-path: ellipse(172px 155px at 177px 161px);
}

.panel-11 {
	grid-row: 4 / -1;
	grid-column: 5 / -1;
	clip-path: ellipse(112px 92px at 114px 96px);
}
.panel-11 img {
    clip-path: ellipse(108px 88px at 114px 96px);
}

.panel-12 {
	grid-row: 4 / -1;
	grid-column: 6 / -1;
	clip-path: circle(80px at 82px 100px);
}
.panel-12 img {
    clip-path: circle(76px at 82px 100px);
}

.panel-13 {
	grid-row: 4 / -1;
	grid-column: 6 / -1;
	clip-path: circle(61px at 109px 106px);
	background-color: white;
}
